
  /* Estilos gerais */
  body {
    margin: 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  body{
    background-color: #424385;
}
/*Inicio cabeçalho*/
.sumir{
    display: none;
}
h2{
    text-align: center;
    font-weight: bolder;
    margin: 10px 0px;
    color: white;  
}

#menu{
  padding: 8px;
  color: aliceblue;
}
nav ul{
    margin: 20px;
    padding: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    margin: 10px;
}

nav li:last-child{
    margin-right: 0;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
 }

 #menu ul{
    height: 100%;
    margin: 20px;
    padding: 0;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li{
    margin: 10px;
}

#menu li:last-child{
    margin-right: 0;
}
#menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
 }
 /*Fim cabeçalho*/
#politica{
  color: white;
  font-size: 24px;

}

  @media screen and (max-width : 800px){
    .sumir{
      display: block;
    }
  
    nav{
      display: none;
    }

    article img{
      width: 100%;
      float: left;
    }

    #menuButton{
      width: 40px;
      height: 40px;
      padding: 5px;
      font-weight: bold;
      border: solid white 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 1s;
    }

    #menuButton:hover{
      background-color: #434643;
      cursor: pointer;
    }

    #menu{
      width: 100%;
      height: auto;
      text-align: center;
      padding: 10px auto;
      display: none;
      justify-content: center;
      align-items: center;
      transition: 1s;
    }
  
    #menu ul{
      display: inline-block;
    }
  
    #menu ul li{
      margin: 10px 0px;
    }

    #closemenu{
      width: 200px;
      height: 40px;
      border: 2px solid white;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (min-width : 800px){
    header{
      display: flex;
      justify-content: space-around;
    }
    nav{
      display: block;
    }
    
    #menuButton{
      display: none;
    }

    #menu{
      display: none;
    }

    #menu ul{
      display: none;
    }
  }
  @media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }

  /* Estilos para dispositivos de tela média */
  @media (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
  }

  /* Estilos para dispositivos de tela grande */
  @media (min-width: 1025px) {
    body {
      font-size: 18px;
    }
  }

  footer{
    background-color: #212529;
    color: white;
    height: 50px;
    align-items: center;
  }